.container{
    background-color: black;
   /* position:absolute; */
   /* width: 100%; */
   /* bottom: 0; */
   /* bottom: 0; */
     margin-Top: 8px;
     /* margin-bottom: 0; */
     /* top: 100%; */
     /* margin-bottom: 1px; */

     /* bottom: 0; */
     /* overflow: hidden; */
     /* overflow-y: auto; */
      color: white;
}
.div1{
    display: flex;
    justify-content: space-evenly;
}
.first{
    width: fit-content;
}
#img1{
    width: 300px;
    margin-top: 50px;
}

.ul1{
    /* border: 2px solid red; */
    list-style: none;

    display: flex;
    justify-content: space-evenly;
}
.ul1 li img{
    height: 80px;
    width: 80px;
}

#twitter{
    height:50px;
    width:60px;
    margin-Top:20px;
}
@media screen and (max-width:740px) {
    .ul1 li img{
        height: 50px;
        width: 50px;
    }
    .first{
        margin-top: 30px;
    }
    #copyright{
        font-size: 13px;
        /* margin-left: 20px; */
    }
    #twitter{
        /* border: 2px solid red; */
        margin-top:10px;
        height: 30px;
        width: 40px;
    }
   

    .container{
        width: 100%;
    }
    #img1{
        width: 150px;
    }
}